// Variables
// $default-font: "Roboto", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$default-font: "Akshar", sans-serif;
$heading-font: "Akshar", sans-serif;
$special-font: "goldplay";
$featured-font: "BIGMACCA";
$nav-font: "Inter", sans-serif;

// Global Colors
$background-color:      #ffffff;
$default-color:         #444444;
$heading-color:         #273d4e;
$accent-color:          #ff4a17;
$surface-color:         #ffffff;
$contrast-color:        #ffffff;

// Nav Menu Colors
$nav-color:                     #e5eaee;
$nav-hover-color:               $accent-color;
$nav-mobile-background-color:   $background-color;
$nav-dropdown-background-color: $background-color;
$nav-dropdown-color:            $default-color;
$nav-dropdown-hover-color:      #ff4a17;

// Variables de colores para los temas claros y oscuros
$light-background-color:    #f1f4fa;
$dark-background-color:     #000910;
$dark-surface-color:        #28323a;


//COLORES CUSTOM
$color-negro:           #000000;
$color-gris-oscuro:     #192330;
$color-gris:            #999999;
$color-blanco:          #FFFFFF;

$color-default:         #223644;

$color-primario:        #3bfedf;
$color-secundario:      #4d5e72;

$color-alt-primario:    #36acf6;
$color-alt-secundario:  #fc0f3e;
$color-alt-terciario:   #fcff23;
$color-alt-quaternario: #00ff80;


@use "sass:meta";


// Variables CSS nativas reescribiendo el Root
:root {
	--default-font: #{meta.inspect($default-font)};
	--heading-font: #{meta.inspect($heading-font)};
	--special-font: #{meta.inspect($special-font)};

	--fuente-size-base: 15px;
	--fuente-muy-peque: .7rem;

	--color-negro: #{meta.inspect($color-negro)};
	--color-gris-medio: #{meta.inspect($color-gris-oscuro)};
	--color-gris-claro:#{meta.inspect($color-gris)};
	--color-blanco:#{meta.inspect($color-blanco)};

	--color-default:#{meta.inspect($color-default)};

	--color-primario: #{meta.inspect($color-primario)};
	--color-secundario: #{meta.inspect($color-secundario)};

	--color-alt-primario: #{meta.inspect($color-alt-primario)};
	--color-alt-secundario: #{meta.inspect($color-alt-secundario)};
	--color-alt-terciario: #{meta.inspect($color-alt-terciario)};
	--color-alt-quaternario: #{meta.inspect($color-alt-quaternario)};

	--border-radius: .0;

	--time: .2s;
	--bs-gutter-x: 1.8rem;
}


// Declaramos los breakpoints por variables de SASS ya que si no, no las podemos usar en los @media
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xlg: 1200px;
$breakpoint-xxl: 1400px;

$breakpoint-hd: 1980px;
$breakpoint-4k: 2600px;

@font-face {
    font-family: 'BIGMACCA';
    src: url('../../fonts/BIGMACCA.eot');
    src: url('../../fonts/BIGMACCA.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/BIGMACCA.woff2') format('woff2'),
        url('../../fonts/BIGMACCA.woff') format('woff'),
        url('../../fonts/BIGMACCA.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Goldplay Alt';
    src: url('../../fonts/goldplay/GoldplayAlt-Medium.eot');
    src: url('../../fonts/goldplay/GoldplayAlt-Medium.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/goldplay/GoldplayAlt-Medium.woff2') format('woff2'),
        url('../../fonts/goldplay/GoldplayAlt-Medium.woff') format('woff'),
        url('../../fonts/goldplay/GoldplayAlt-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Goldplay Alt Medium It';
    src: url('../../fonts/goldplay/GoldplayAlt-MediumIt.eot');
    src: url('../../fonts/goldplay/GoldplayAlt-MediumIt.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/goldplay/GoldplayAlt-MediumIt.woff2') format('woff2'),
        url('../../fonts/goldplay/GoldplayAlt-MediumIt.woff') format('woff'),
        url('../../fonts/goldplay/GoldplayAlt-MediumIt.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Goldplay Alt Light It';
    src: url('../../fonts/goldplay/GoldplayAlt-LightIt.eot');
    src: url('../../fonts/goldplay/GoldplayAlt-LightIt.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/goldplay/GoldplayAlt-LightIt.woff2') format('woff2'),
        url('../../fonts/goldplay/GoldplayAlt-LightIt.woff') format('woff'),
        url('../../fonts/goldplay/GoldplayAlt-LightIt.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Goldplay Alt Black It';
    src: url('../../fonts/goldplay/GoldplayAlt-BlackIt.eot');
    src: url('../../fonts/goldplay/GoldplayAlt-BlackIt.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/goldplay/GoldplayAlt-BlackIt.woff2') format('woff2'),
        url('../../fonts/goldplay/GoldplayAlt-BlackIt.woff') format('woff'),
        url('../../fonts/goldplay/GoldplayAlt-BlackIt.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Goldplay Alt';
    src: url('../../fonts/goldplay/GoldplayAlt-Bold.eot');
    src: url('../../fonts/goldplay/GoldplayAlt-Bold.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/goldplay/GoldplayAlt-Bold.woff2') format('woff2'),
        url('../../fonts/goldplay/GoldplayAlt-Bold.woff') format('woff'),
        url('../../fonts/goldplay/GoldplayAlt-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Goldplay Alt';
    src: url('../../fonts/goldplay/GoldplayAlt-Black.eot');
    src: url('../../fonts/goldplay/GoldplayAlt-Black.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/goldplay/GoldplayAlt-Black.woff2') format('woff2'),
        url('../../fonts/goldplay/GoldplayAlt-Black.woff') format('woff'),
        url('../../fonts/goldplay/GoldplayAlt-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Goldplay Alt Bold It';
    src: url('../../fonts/goldplay/GoldplayAlt-BoldIt.eot');
    src: url('../../fonts/goldplay/GoldplayAlt-BoldIt.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/goldplay/GoldplayAlt-BoldIt.woff2') format('woff2'),
        url('../../fonts/goldplay/GoldplayAlt-BoldIt.woff') format('woff'),
        url('../../fonts/goldplay/GoldplayAlt-BoldIt.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Goldplay Alt It';
    src: url('../../fonts/goldplay/GoldplayAlt-RegularIt.eot');
    src: url('../../fonts/goldplay/GoldplayAlt-RegularIt.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/goldplay/GoldplayAlt-RegularIt.woff2') format('woff2'),
        url('../../fonts/goldplay/GoldplayAlt-RegularIt.woff') format('woff'),
        url('../../fonts/goldplay/GoldplayAlt-RegularIt.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Goldplay Alt';
    src: url('../../fonts/goldplay/GoldplayAlt-Light.eot');
    src: url('../../fonts/goldplay/GoldplayAlt-Light.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/goldplay/GoldplayAlt-Light.woff2') format('woff2'),
        url('../../fonts/goldplay/GoldplayAlt-Light.woff') format('woff'),
        url('../../fonts/goldplay/GoldplayAlt-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Goldplay Black It';
    src: url('../../fonts/goldplay/Goldplay-BlackIt.eot');
    src: url('../../fonts/goldplay/Goldplay-BlackIt.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/goldplay/Goldplay-BlackIt.woff2') format('woff2'),
        url('../../fonts/goldplay/Goldplay-BlackIt.woff') format('woff'),
        url('../../fonts/goldplay/Goldplay-BlackIt.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Goldplay';
    src: url('../../fonts/goldplay/Goldplay-Bold.eot');
    src: url('../../fonts/goldplay/Goldplay-Bold.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/goldplay/Goldplay-Bold.woff2') format('woff2'),
        url('../../fonts/goldplay/Goldplay-Bold.woff') format('woff'),
        url('../../fonts/goldplay/Goldplay-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Goldplay Alt';
    src: url('../../fonts/goldplay/GoldplayAlt-SemiBold.eot');
    src: url('../../fonts/goldplay/GoldplayAlt-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/goldplay/GoldplayAlt-SemiBold.woff2') format('woff2'),
        url('../../fonts/goldplay/GoldplayAlt-SemiBold.woff') format('woff'),
        url('../../fonts/goldplay/GoldplayAlt-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Goldplay Alt Thin It';
    src: url('../../fonts/goldplay/GoldplayAlt-ThinIt.eot');
    src: url('../../fonts/goldplay/GoldplayAlt-ThinIt.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/goldplay/GoldplayAlt-ThinIt.woff2') format('woff2'),
        url('../../fonts/goldplay/GoldplayAlt-ThinIt.woff') format('woff'),
        url('../../fonts/goldplay/GoldplayAlt-ThinIt.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Goldplay Alt';
    src: url('../../fonts/goldplay/GoldplayAlt-Thin.eot');
    src: url('../../fonts/goldplay/GoldplayAlt-Thin.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/goldplay/GoldplayAlt-Thin.woff2') format('woff2'),
        url('../../fonts/goldplay/GoldplayAlt-Thin.woff') format('woff'),
        url('../../fonts/goldplay/GoldplayAlt-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Goldplay SemiBold It';
    src: url('../../fonts/goldplay/Goldplay-SemiBoldIt.eot');
    src: url('../../fonts/goldplay/Goldplay-SemiBoldIt.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/goldplay/Goldplay-SemiBoldIt.woff2') format('woff2'),
        url('../../fonts/goldplay/Goldplay-SemiBoldIt.woff') format('woff'),
        url('../../fonts/goldplay/Goldplay-SemiBoldIt.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Goldplay Light It';
    src: url('../../fonts/goldplay/Goldplay-LightIt.eot');
    src: url('../../fonts/goldplay/Goldplay-LightIt.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/goldplay/Goldplay-LightIt.woff2') format('woff2'),
        url('../../fonts/goldplay/Goldplay-LightIt.woff') format('woff'),
        url('../../fonts/goldplay/Goldplay-LightIt.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Goldplay Medium It';
    src: url('../../fonts/goldplay/Goldplay-MediumIt.eot');
    src: url('../../fonts/goldplay/Goldplay-MediumIt.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/goldplay/Goldplay-MediumIt.woff2') format('woff2'),
        url('../../fonts/goldplay/Goldplay-MediumIt.woff') format('woff'),
        url('../../fonts/goldplay/Goldplay-MediumIt.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Goldplay';
    src: url('../../fonts/goldplay/Goldplay-Light.eot');
    src: url('../../fonts/goldplay/Goldplay-Light.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/goldplay/Goldplay-Light.woff2') format('woff2'),
        url('../../fonts/goldplay/Goldplay-Light.woff') format('woff'),
        url('../../fonts/goldplay/Goldplay-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Goldplay Bold It';
    src: url('../../fonts/goldplay/Goldplay-BoldIt.eot');
    src: url('../../fonts/goldplay/Goldplay-BoldIt.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/goldplay/Goldplay-BoldIt.woff2') format('woff2'),
        url('../../fonts/goldplay/Goldplay-BoldIt.woff') format('woff'),
        url('../../fonts/goldplay/Goldplay-BoldIt.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Goldplay';
    src: url('../../fonts/goldplay/Goldplay-Black.eot');
    src: url('../../fonts/goldplay/Goldplay-Black.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/goldplay/Goldplay-Black.woff2') format('woff2'),
        url('../../fonts/goldplay/Goldplay-Black.woff') format('woff'),
        url('../../fonts/goldplay/Goldplay-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Goldplay';
    src: url('../../fonts/goldplay/Goldplay-Medium.eot');
    src: url('../../fonts/goldplay/Goldplay-Medium.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/goldplay/Goldplay-Medium.woff2') format('woff2'),
        url('../../fonts/goldplay/Goldplay-Medium.woff') format('woff'),
        url('../../fonts/goldplay/Goldplay-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Goldplay It';
    src: url('../../fonts/goldplay/Goldplay-RegularIt.eot');
    src: url('../../fonts/goldplay/Goldplay-RegularIt.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/goldplay/Goldplay-RegularIt.woff2') format('woff2'),
        url('../../fonts/goldplay/Goldplay-RegularIt.woff') format('woff'),
        url('../../fonts/goldplay/Goldplay-RegularIt.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Goldplay';
    src: url('../../fonts/goldplay/Goldplay-Regular.eot');
    src: url('../../fonts/goldplay/Goldplay-Regular.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/goldplay/Goldplay-Regular.woff2') format('woff2'),
        url('../../fonts/goldplay/Goldplay-Regular.woff') format('woff'),
        url('../../fonts/goldplay/Goldplay-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Goldplay Alt';
    src: url('../../fonts/goldplay/GoldplayAlt-Regular.eot');
    src: url('../../fonts/goldplay/GoldplayAlt-Regular.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/goldplay/GoldplayAlt-Regular.woff2') format('woff2'),
        url('../../fonts/goldplay/GoldplayAlt-Regular.woff') format('woff'),
        url('../../fonts/goldplay/GoldplayAlt-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Goldplay Thin It';
    src: url('../../fonts/goldplay/Goldplay-ThinIt.eot');
    src: url('../../fonts/goldplay/Goldplay-ThinIt.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/goldplay/Goldplay-ThinIt.woff2') format('woff2'),
        url('../../fonts/goldplay/Goldplay-ThinIt.woff') format('woff'),
        url('../../fonts/goldplay/Goldplay-ThinIt.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Goldplay Alt SemiBold It';
    src: url('../../fonts/goldplay/GoldplayAlt-SemiBoldIt.eot');
    src: url('../../fonts/goldplay/GoldplayAlt-SemiBoldIt.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/goldplay/GoldplayAlt-SemiBoldIt.woff2') format('woff2'),
        url('../../fonts/goldplay/GoldplayAlt-SemiBoldIt.woff') format('woff'),
        url('../../fonts/goldplay/GoldplayAlt-SemiBoldIt.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Goldplay';
    src: url('../../fonts/goldplay/Goldplay-SemiBold.eot');
    src: url('../../fonts/goldplay/Goldplay-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/goldplay/Goldplay-SemiBold.woff2') format('woff2'),
        url('../../fonts/goldplay/Goldplay-SemiBold.woff') format('woff'),
        url('../../fonts/goldplay/Goldplay-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Goldplay';
    src: url('../../fonts/goldplay/Goldplay-Thin.eot');
    src: url('../../fonts/goldplay/Goldplay-Thin.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/goldplay/Goldplay-Thin.woff2') format('woff2'),
        url('../../fonts/goldplay/Goldplay-Thin.woff') format('woff'),
        url('../../fonts/goldplay/Goldplay-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}


html {
    font-family: var(--default-font);
    color: var(--color-gris-medio);
	font-size: var(--fuente-size-base);
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: var(--default-font);
	font-size: var(--fuente-size-base);
	font-weight: 300;
	background-color: $color-gris-oscuro;
	color: $color-blanco;
}

section {
	padding: 3rem 0;
	position: relative;
}
footer{
    background-color: var(--color-default);
}
table {
	font-family: var(--default-font);
	color: var(--color-gris-medio);
	font-size: .9rem;
}

h1, h2, h3, h4 {
	font-family: var(--default-font);
	letter-spacing: -1px;
	margin-bottom: .5em;
    font-weight: bold;
	color: var(--color-primario);
}

a {
	color: $color-primario;
	text-decoration: none;
	transition: 0.3s;

	&:hover {
		color: color-mix(in srgb, $color-default, transparent 25%);
		text-decoration: none;
	}
}

:focus-visible,
a:active,
a:hover {
    outline: 0;
	outline: none;
    text-decoration: none!important;
}

.btn:focus, a:focus
{
	outline: none;
}

img {
	max-width: 100%;
	height: auto;
    transition: all 0.3s;
}

.sitename{
	font-family: var(--special-font);
	font-weight: 600;
}