.bigmacca{
    font-family: $special-font;
    letter-spacing: normal;
}


#hero-header{
    h1, h2, h3, h4, h5, h6 {
        font-weight: normal;
    }
    color: $color-blanco;
}


//HEADER
header {
    .sitename{
        font-family: var(--special-font) !important;
        font-size: 1.5rem;
    }
}

//CARDS MORE INFORMATION
//son las cards qe hay en la pagina home
.more-info{
    overflow: hidden;
    h3{
        font-size: 2rem;
    }
    &:hover{
        img{
            transform: scale(1.2);
        }
        .details{
            h3{
                color: $color-alt-quaternario;
                @include glitch-effect-mixin();
            }
        }
    }
    .details{
        @extend .tl;
    }
}


// CARDS GALERIA TEAM
.galeria-contenedor {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr)); /* 4 columnas por fila como máximo */
    gap: 2rem; /* Espacio entre los items */
}

.galeria-item {
    background-color: $color-default;
    padding: 10px;
    // border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    &:hover {
        transition: all .5s;
        background-color: lighten($color-default, 20%);
        box-shadow: 2px 2px 6px rgba(0, 0, 0, .5);
        h4{
            color: $color-primario !important;
        }
        @media (min-width: $breakpoint-md) {
            .img-team, span, .social, h4 {
                @include glitch-effect-mixin();

                // Usamos el mixin para aplicar el delay a múltiples elementos
                @include random-delay(0.2, 1);
            }
        }
    }
    .img-team {
        position: relative;
        width: 100%;
        padding-top: 100%; /* Para hacerla cuadrada */
        overflow: hidden;
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .miembro-info {
        width: 100%;
        padding: .5rem;
        margin-top: .5rem;
        h4 {
            color: $color-blanco;
            @include transition(.5s);
            margin-bottom: 5px;
            font-family: $default-font;
        }
        .miembro-detalles{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        span {
            font-size: normal;
            font-size: 1rem;
            color: $color-blanco;
        }
        .social{
            float: inline-end;
            align-self: flex-end !important;
            a{
                color: $color-gris;
                &:hover{
                    color: $color-primario !important;
                }
            }
            i{
                font-size: 1.1rem;
            }
        }
    }
}
// @media (min-width: $breakpoint-md) {
    .galeria-item {
    }
// }


#game-info{
    .game-detalles{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        @media (min-width: $breakpoint-md) {
            flex-direction: row;
        }

        p{
            @extend .underline-azul-verde;
        }
    }
}

#characters-game{
    .row{
        border: none;
        @media (min-width: $breakpoint-md) {
            border-left: 4px solid $color-primario;
            border-right: none;
            &:nth-child(odd){
                border-left: none ;
                border-right: 4px solid $color-primario;
            }
        }
    }
    h2{
        @include underline-gradient($color-default, $color-alt-secundario, 30%);
    }
    .row:not(:last-child){
        margin-bottom: 4rem;
    }
    span{
        font-weight: bold;
    }
    ul{
        list-style: none;
        padding-left: 1rem;
        li{
            i{
                color: $color-alt-secundario;
            }
        }
    }
}